.bold{
  font-weight: bold;
}

.h3{
 font-style: bold;
 align: center;
}

.h4 {
  font-style: bold;
  align-self: center;
}

.panel-header {
  font-style:italic;
}

.h1 {
  font: oswald;
  font-weight: bold;
  font-size: 200px;
  color: red;
}

.img {
  float: left;
}

.img-responsive {
  margin-top:200px
  padding:200px
  float: left
}
